<!--
 /**
 * Copyright 2016, Georg-August-Universität Göttingen
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use
 * this file except in compliance with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the
 * License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
 * either express or implied. See the License for the specific language governing permissions
 * and limitations under the License.
 *
 * Information
 * Master thesis title: Automated importance assessment for new technologies and standards
 *
 * University: Georg August Universität Göttingen - Institute of Computer Science
 * Software Engineering for Distributed Systems
 *
 * Author: Florian Unger
 * Submission date: 2016-11-11
 *
 */
 -->
<div *ngIf="state == 'Collect Data' ">
    <hr>
    <div class="row" id="catchDataArea">
        <div class="col-md-4" style="font-weight: bold">
            Search Term: {{term.term}}
        </div>
        <div class="col-md-3" style="font-weight: bold">
            Search: {{searchDone.timestamp}}
        </div>
        <div class="col-md-3" #modelView>
            Model: {{model.name}}
        </div>
        <div class="col-md-2" align="right">
            <data-view-presentation-choose (contentPresentation)="setContentPresentation($event)"></data-view-presentation-choose>
        </div>
    </div>
    <model [model]="model" [contentPresentation]="contentPresentation" [term]="term" [resultList]="resultList" [state]="state" [result]="result"></model>
    <div class="row">
        <div class="col-md-11">
        </div>
        <div class="col-md-1">
            <button class="btn btn-danger" (click)="storeResults()">
                Store results
            </button>

        </div>
    </div>
</div>
<div *ngIf="state == 'stored' " [style.background-color]="getStoreResultColor()">
    {{storeResultMessage}}
</div>

<div *ngIf="state == 'Evaluate Data' " >
    <hr>
    <div class="row">
        <div class="col-md-3" style="font-weight: bolder" #modelView>Model: {{model.name}}
            <div *ngIf=" warning !=''" class="alert alert-warning" style="font-weight: normal">
                {{warning}}
            </div>
        </div>
        <div class="col-md-9" style="padding-left: 100px">
            <div class="row">
                <div class="col-md-3" *ngFor=" let item of resultList.results">
                    <div style="margin-bottom: 0px">
                        <button class="btn btn-default" type="button" (click)="removeResult( item ) " data-toggle="tooltip"
                                data-placement="top" title="Remove data collection from view">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div style="border-bottom-width: thin; border-bottom-style: dashed; border-color: #c0c0c0; margin-bottom: 0px">
                        {{getTopic( item.term.searchTopicId )}}
                    </div>
                    <div style="border-bottom-width: thin; border-bottom-style: dashed; border-color: #c0c0c0; margin-bottom: 0px">
                        {{item.term.term}}
                    </div>
                    {{item.searchTime}}
                </div>
            </div>
        </div>

    </div>
    <model [model]="model" [contentPresentation]="contentPresentation" [term]="term" [resultList]="resultList" [state]="state" [result]="result"></model>

</div>

