<!--
/**
 * Copyright 2016, Georg-August-Universität Göttingen
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use
 * this file except in compliance with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the
 * License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
 * either express or implied. See the License for the specific language governing permissions
 * and limitations under the License.
 *
 * Information
 * Master thesis title: Automated importance assessment for new technologies and standards
 *
 * University: Georg August Universität Göttingen - Institute of Computer Science
 * Software Engineering for Distributed Systems
 *
 * Author: Florian Unger
 * Submission date: 2016-11-11
 *
 */
 -->
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="searchHistoryExplanation">
        <h3 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" aria-expanded="false"
               href="#searchHistoryExplanationContent">
                Explanation
            </a>
        </h3>
    </div>
    <div id="searchHistoryExplanationContent" class="panel-collapse collapse" role="tabpanel">
        <div class="panel-body">
            The following list shows the different available topics, the terms belonging to the topics and the data
            collections belonging to the terms at a glance.
            The top level shows the topics whereas each topic is the generic term of the terms which belong to it.
            Furthermore on the second level the terms are shown. The term is the value which is used for data
            collection.
            And lastly on the third level the data collections belonging to a term are shown.
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="searchHistoryExample">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" aria-expanded="true"
                           href="#searchHistoryExampleContent">
                            Example
                        </a>
                    </h3>
                </div>
                <div id="searchHistoryExampleContent" class="panel-collapse collapse in" role="tabpanel">
                    <div class="panel-body">
                        For example the 'Ajax Tools Framework (ATF)' is a term of the topic 'Eclipse'.
                        To collect data to the term 'Ajax Tools Framework (ATF)' this term is used for searching.
                        Searching therefore means to search for different factors e.g. the number of books that could be
                        mapped to the term.
                        In each case the exact term is used for searching.
                    </div>
                </div>
            </div>
            <span *ngIf="searchHistoryType == 'Collect Data'">
                On each level the user has the possibility to add a topic (first level), a term (second level) or a data
                collection (third level).
            </span>
        </div>
    </div>
</div>

<search-add *ngIf="isSearchAdd" [topic]="topic" (selectTerm)="selectNewTerm($event)"
            (abortSearchAdd)="navigateBackToHistory()"></search-add>

<h3 >Available Data
    <button (click)="isCollapsedAvailableData = !isCollapsedAvailableData" style="font-size: medium">
        {{getCollapseButtonText()}}
    </button>
</h3>
<div [collapse]="isCollapsedAvailableData">
    <ul *ngIf="searchHistoryType == 'Collect Data'">
        <li *ngFor="let topic of searchHistory">
            {{topic.topic}}
            <ul>
                <li *ngFor="let term of topic.terms">
                    {{term.term}}
                    <ul>
                        <li *ngFor="let search of term.searchDone">
                            <a (click)="selectSearch(search)">
                                {{search.timestamp}}
                            </a>
                        </li>
                        <li>
                            <a (click)="addSearchDone(term)">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                New data collection
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a (click)="addSearch(topic)">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Add term
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="addSearch()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Add topic
            </a>

        </li>
    </ul>
    <p *ngIf="searchHistoryType == 'Evaluate Data'">
        Please choose a data collection to be evaluated.
    </p>
    <ul *ngIf="searchHistoryType == 'Evaluate Data'">
        <li *ngFor="let topic of searchHistory">
            {{topic.topic}}
            <ul>
                <li *ngFor="let term of topic.terms">
                    {{term.term}}
                    <ul>
                        <li *ngFor="let search of term.searchDone">
                            <a (click)="selectSearch(search)">
                                {{search.timestamp}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

</div>
<span id="endOfAvailableData"></span>
