<!--
/**
 * Copyright 2016, Georg-August-Universität Göttingen
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use
 * this file except in compliance with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the
 * License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
 * either express or implied. See the License for the specific language governing permissions
 * and limitations under the License.
 *
 * Information
 * Master thesis title: Automated importance assessment for new technologies and standards
 *
 * University: Georg August Universität Göttingen - Institute of Computer Science
 * Software Engineering for Distributed Systems
 *
 * Author: Florian Unger
 * Submission date: 2016-11-11
 *
 */
 -->
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <h2>Basic Information</h2>
        <dl>
            <dt>Master theses</dt>
            <dd>Automated importance assessment for new technologies and standards</dd>
            <dt>Author:</dt>
            <dd>Florian Unger</dd>
            <dt>University</dt>
            <dd>Georg August Universit&auml;t G&ouml;ttingen:</dd>
        </dl>
    </div>
</div>

