.row-data{
    margin: 5px 5px 0px 10px;
    border: 1px solid transparent;
    background-color: #0000AA;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}