<!--
/**
 * Copyright 2016, Georg-August-Universität Göttingen
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use
 * this file except in compliance with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the
 * License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
 * either express or implied. See the License for the specific language governing permissions
 * and limitations under the License.
 *
 * Information
 * Master thesis title: Automated importance assessment for new technologies and standards
 *
 * University: Georg August Universität Göttingen - Institute of Computer Science
 * Software Engineering for Distributed Systems
 *
 * Author: Florian Unger
 * Submission date: 2016-11-11
 *
 */
 -->
<div *ngIf="contentPresentation == 'panel'"
     class="panel-group">
    <div class="panel panel-default" [style.border-color]="getEvaluationStateStyle()">
        <div class="panel-heading"
             role="tab"
             id="headingModelCategory{{modelCategory.id}}">
            <h2 class="panel-title">
                <div [style.background-color]="getEvaluationStateStyle()">
                    <span *ngIf="!chevronUp"
                          class="glyphicon glyphicon-chevron-down"
                          aria-hidden="true">
                    </span>
                    <span *ngIf="chevronUp"
                          class="glyphicon glyphicon-chevron-up"
                          aria-hidden="true">
                    </span>
                    <a class="collapsed"
                       role="button"
                       data-toggle="collapse"
                       aria-expanded="true"
                       href="#modelCategory{{modelCategory.id}}"
                       (click)="changeChevron()">
                        &nbsp;{{modelCategory.name}}
                    </a>
                    <span *ngIf="modelCategory.help.manual != ''"  class="glyphicon glyphicon-info-sign" aria-hidden="true"
                          style="font-size: small;" (click)="getHelp()">
                </span>
                </div>
            </h2>
        </div>
        <div id="modelCategory{{modelCategory.id}}"
             class="panel-collapse collapse in"
             role="tabpanel">
            <div class="panel-body">
                <div *ngIf="help != ''" style="margin-left: 20px; margin-top: -10px; padding-top: 0px;"> {{help}} </div>
                <model-category *ngFor=" let item of modelCategory.modelCategories"
                                [modelCategory]="item"
                                [term]="term"
                                [resultList]="resultList" [state]="state" [result]="result"
                                [contentPresentation]="contentPresentation">
                </model-category>
                <model-field *ngFor=" let item of modelCategory.modelFields"
                             [modelField]="item"
                             [term]="term"
                             [resultList]="resultList" [state]="state" [result]="result">
                </model-field>
            </div>
        </div>
    </div>
</div>
<div *ngIf="contentPresentation == 'table'">

    <div *ngIf="level == 0" style="
            margin-left: 10px;
            margin-bottom: 3px;
            margin-top: 5px;
            margin-right: 3px;
            padding-bottom: 3px;
            border-width: thin;
            border-style: solid;
            border-radius: 4px;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 1px rgba(0, 0, 0, .05);" [style.border-color]="getEvaluationStateStyle()">
        <div style="
                margin-top: -20px;
                margin-bottom: 0px;
                padding-left: 10px; " [style.background-color]="getEvaluationStateStyle()">
            <h3>
                {{modelCategory.name}}
                <span *ngIf="modelCategory.help.manual != ''"  class="glyphicon glyphicon-info-sign" aria-hidden="true"
                      style="font-size: small;" (click)="getHelp()">
                </span>
            </h3>
        </div>
        <div *ngIf="help != ''" style="margin-left: 20px; margin-top: -10px; padding-top: 0px;"> {{help}} </div>
        <model-category *ngFor=" let item of modelCategory.modelCategories"
                        [modelCategory]="item"
                        [term]="term"
                        [resultList]="resultList" [state]="state" [result]="result"
                        [contentPresentation]="contentPresentation" [level]="level +1">
        </model-category>
        <model-field *ngFor=" let item of modelCategory.modelFields"
                     [modelField]="item"
                     [term]="term"
                     [resultList]="resultList" [state]="state" [result]="result">
        </model-field>
    </div>
    <div *ngIf="level != 0" style="margin-left: 10px;">
        <div style="margin-right: 3px; font-weight: bold" [style.background-color]="getEvaluationStateStyle()">
            {{modelCategory.name}}
            <span *ngIf="modelCategory.help.manual != ''"  class="glyphicon glyphicon-info-sign" aria-hidden="true"
              style="font-size: small;" (click)="getHelp()">
            </span>
        </div>
        <span *ngIf="help != ''" style="margin-left: 20px;"> {{help}} </span>
        <model-category *ngFor=" let item of modelCategory.modelCategories"
                        [modelCategory]="item"
                        [term]="term"
                        [resultList]="resultList" [state]="state" [result]="result"
                        [contentPresentation]="contentPresentation" [level]="level +1">
        </model-category>
        <model-field *ngFor=" let item of modelCategory.modelFields"
                     [modelField]="item"
                     [term]="term"
                     [resultList]="resultList" [state]="state" [result]="result">
        </model-field>
    </div>
</div>