<!--
/**
 * Copyright 2016, Georg-August-Universität Göttingen
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use
 * this file except in compliance with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the
 * License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
 * either express or implied. See the License for the specific language governing permissions
 * and limitations under the License.
 *
 * Information
 * Master thesis title: Automated importance assessment for new technologies and standards
 *
 * University: Georg August Universität Göttingen - Institute of Computer Science
 * Software Engineering for Distributed Systems
 *
 * Author: Florian Unger
 * Submission date: 2016-11-11
 *
 */
 -->
<div class="row">
    <div class="col-md-4">
        <p style="font-weight: bold">
            {{modelField.name}}
            <span *ngIf="modelField.manual" (click)="showManual()" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
        </p>
        <div *ngIf=" manual !=''" class="alert alert-warning">
            {{manual}}
        </div>
    </div>
    <div class="col-md-8">
        <model-evaluation *ngFor=" let item of modelField.evaluation"
                          [evaluation]="item"
                          [term]="term"
                          [resultList]="resultList" [state]="state" [result]="result">

        </model-evaluation>
    </div>

</div>