<!--
/**
 * Copyright 2016, Georg-August-Universität Göttingen
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use
 * this file except in compliance with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the
 * License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
 * either express or implied. See the License for the specific language governing permissions
 * and limitations under the License.
 *
 * Information
 * Master thesis title: Automated importance assessment for new technologies and standards
 *
 * University: Georg August Universität Göttingen - Institute of Computer Science
 * Software Engineering for Distributed Systems
 *
 * Author: Florian Unger
 * Submission date: 2016-11-11
 *
 */
 -->


<div class="panel panel-default">
    <div class="panel-heading">

        <h3 class="panel-title" *ngIf="topic.id == 0 ">
            <span class="glyphicon glyphicon-trash" aria-hidden="true" (click)="abortAdd()" data-toggle="tooltip"
                  data-placement="top" title="Abort adding and go back to search history"></span>
            Add a new topic</h3>
        <h3 class="panel-title" *ngIf="topic.id != 0 ">
            <span class="glyphicon glyphicon-trash" aria-hidden="true" (click)="abortAdd()" data-toggle="tooltip"
                  data-placement="top" title="Abort adding and go back to search history"></span>
            Add a new term to topic '{{topic.topic}}'</h3>
    </div>
    <div class="panel-body">
        <p *ngIf="topic.id == 0 ">
            A topic is the generic term and can have different search terms which belongs to it.
            For example the 'Ajax Tools Framework (ATF)' would be a term of the topic 'Eclipse'.
        </p>
        <p *ngIf="topic.id != 0 ">
            A term is a value to be evaluated.
            For example the 'Ajax Tools Framework (ATF)' would be a term of the topic 'Eclipse'.
        </p>
        <div>
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" (click)="abortAdd()" data-toggle="tooltip"
                            data-placement="top" title="Abort adding and go back to search history">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                    </button>
                    <button class="btn btn-default" type="button" (click)="choose()">Add</button>
                </span>
                <input id="search" type="text" class="form-control"
                       [(ngModel)]=query (keyup)=filter() (click)=startAutoFill()>
            </div>
            <div *ngIf="warning != '' " class="bg-warning">
                <span class="glyphicon glyphicon-warning-sign"> {{warning}}</span>
            </div>
            <div *ngIf="filteredList.length > 0">
                <ul *ngFor=" let item of filteredList" style="list-style-type: none;">
                    <li>
                        <a (click)="select(item)">{{item}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>