<!--
/**
 * Copyright 2016, Georg-August-Universität Göttingen
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use
 * this file except in compliance with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the
 * License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
 * either express or implied. See the License for the specific language governing permissions
 * and limitations under the License.
 *
 * Information
 * Master thesis title: Automated importance assessment for new technologies and standards
 *
 * University: Georg August Universität Göttingen - Institute of Computer Science
 * Software Engineering for Distributed Systems
 *
 * Author: Florian Unger
 * Submission date: 2016-11-11
 *
 */
 -->


<!-- Best way to show the user the results to be evaluated would be an iframe.
<iframe  src="{{view.url}}{{term.term}}"></iframe>
The problem on hand is that many pages like google block this due to the header option
-- in a frame because it set 'X-Frame-Options' to 'SAMEORIGIN'. https://developer.mozilla.org/en-US/docs/Web/HTTP/X-Frame-Options--
A solution that was described on http://stackoverflow.com/ states that using a proxy would solve this problem.
All tested proxies show the problem described above. One example
https://proxy-de.hide.me/go.php?u=https%3A%2F%2Fwww.google.de%2Fsearch%3Fq%3Dtestoterm%26gbv%3D1%26prmd%3Divns%26source%3Dlnms%26tbm%3Dbks%26sa%3DX
-->
<div *ngFor=" let view of views">
    {{getDescription(view)}}
    <p>Please open <a href="{{getUrl(view)}}" target="evaluationView">{{view.url}}</a></p>
</div>

