<!--
 * Created by Florian Unger 2016.
 * Master theses - Automated importance assessment for new technologies and standards
 * http://ros.swe.informatik.uni-goettingen.de/license
 -->

<div *ngFor=" let searchTerm of searchTerms">
    {{getDescription(searchTerm)}}
    <p>Please open
        <a href="{{getGoogleLink(searchTerm)}}" target="searchTerms" >Google search</a> to find data for evaluation or
        <a href="{{getGoogleLink(searchTerm, true)}}" target="searchTerms" >Google fuzzy search</a>
        in case that the first search is to specific.
    </p>
</div>
