<!--
/**
 * Copyright 2016, Georg-August-Universität Göttingen
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use
 * this file except in compliance with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the
 * License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
 * either express or implied. See the License for the specific language governing permissions
 * and limitations under the License.
 *
 * Information
 * Master thesis title: Automated importance assessment for new technologies and standards
 *
 * University: Georg August Universität Göttingen - Institute of Computer Science
 * Software Engineering for Distributed Systems
 *
 * Author: Florian Unger
 * Submission date: 2016-11-11
 *
 */
 -->
<div *ngIf="state == 'Collect Data' ">
    <div *ngIf="evaluation.manual" style="margin-left: -30px;">
        <div *ngIf="evaluation.manual.type == 'int'" class="col-md-4" style="margin-bottom: 3px; padding-right: 0px;">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Integer</span>
                <input [(ngModel)]="evaluation.value.value"
                       (keyup)=filterInt()
                       (blur)=checkInt()
                       type="text"
                       name="{{evaluation.id}}"
                       value="{{getValue()}}"
                       class="form-control"
                       aria-describedby="basic-addon1">
                <span *ngIf="evaluation.value.valueCanNotBeFound == 'val' " class="input-group-addon"
                      data-toggle="tooltip" data-placement="top"
                      title="Check this if value can not be found.">
                    <input type="checkbox" name="noValA" value="noValA" (click)="handleValueCanNotBeFound()"/>
                </span>
                <span *ngIf="evaluation.value.valueCanNotBeFound == 'noValA'" class="input-group-addon"
                      style="background-color: rgba(217, 9, 0, 0.29)"
                      data-toggle="tooltip" data-placement="top"
                      title="Check this if value can not be found.">
                    <input type="checkbox" name="noValA" value="noValA" (click)="handleValueCanNotBeFound()" checked/>
                </span>
                <span class="glyphicon glyphicon-question-sign input-group-addon" (click)="getManualValueRange()"
                      style="top: 0px;" data-toggle="tooltip" data-placement="top" title="Show value range."></span>
            </div>
            <div *ngIf=" warning !=''" class="alert alert-warning">
                {{warning}}
            </div>
        </div>
        <div *ngIf="evaluation.manual.type == 'double'" class="col-md-4" style="margin-bottom: 3px;">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Double</span>
                <input [(ngModel)]="evaluation.value.value"

                       type="number"
                       name="{{evaluation.id}}"
                       min="{{evaluation.manual.min}}"
                       max="{{evaluation.manual.max}}"
                       step="{{evaluation.manual.stepsize}}"
                       value="{{getValue()}}"
                       class="form-control"
                       aria-describedby="basic-addon1">
            </div>
        </div>
        <div *ngIf="evaluation.manual.type == 'text'" class="col-md-4" style="margin-bottom: 3px;">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Text</span>
                <textarea [(ngModel)]="evaluation.value.value"

                          name="{{evaluation.id}}"
                          value="{{getValue()}}"
                          class="form-control"
                          aria-describedby="basic-addon1"></textarea>
            </div>
        </div>
        <div *ngIf="evaluation.manual.type == 'hyperlinkList'" class="col-md-4" style="margin-bottom: 3px;">
            Hyperlink list of {{evaluation.manual.defaultVal}}
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">URL:</span>
                <input #urlValue
                       type="text"
                       name="{{evaluation.id}}"
                       class="form-control"
                       aria-describedby="basic-addon1">

                <span class="glyphicon glyphicon-plus input-group-addon"
                      data-toggle="tooltip" data-placement="top" title="Add URL to list."
                      (click)="evaluation.manual.hyperlinkList.addUrl(urlValue)"
                      style="top: 0px;"></span>
            </div>
            <ul style="margin-bottom: 3px; padding-left: 0px">
                <li *ngFor=" let url of evaluation.manual.hyperlinkList.urls" style="list-style-type: none;">
                    <a (click)="evaluation.manual.hyperlinkList.removeUrl(url)"
                       style="color: #d63b23; background-color: #eee; border-radius: 4px; border: 1px solid #ccc; ">
                       <span class="glyphicon glyphicon-remove"
                             data-toggle="tooltip" data-placement="left" title="Remove URL from list"></span>
                    </a>
                    <a href="{{url}}" target="_blank">
                        {{url}}
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-8">
            <div *ngIf="evaluation.manual.webViews">
                <model-evaluation-view [term]="term" [views]="evaluation.manual.webViews"
                                       style="margin-bottom: -10px"></model-evaluation-view>
            </div>

            <div *ngIf="evaluation.manual.searchTerms">
                <model-evaluation-search-term [term]="term" [searchTerms]="evaluation.manual.searchTerms"
                                              style="margin-bottom: -10px"></model-evaluation-search-term>
            </div>

            <div *ngIf="evaluation.manual.help">
                {{evaluation.manual.help.manual}}
                <ul>
                    <li *ngFor=" let url of evaluation.manual.help.url">
                        {{url}}
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div *ngIf="evaluation.category">

        <div class="row">
            <div class="list-group col-md-4"
                 style="margin-bottom: 3px;
                    -webkit-box-shadow: 0px 0px 0px #ffffff;
                    -moz-box-shadow: 0px 0px 0px #ffffff;
                    box-shadow: 0px 0px 0px #ffffff;">
                <button *ngFor=" let catItem of evaluation.category.category.items"
                        type="button"
                        (click)="chooseCategory(catItem)"
                        class="list-group-item"
                        [style.background-color]="catItem.backgroundColor">
                    {{catItem.value}}
                </button>
                <button *ngIf="evaluation.value.valueCanNotBeFound == 'val'"
                        (click)="handleCategoryValueCanNotBeFound()" type="button" class="list-group-item"
                        data-toggle="tooltip" data-placement="top"
                        title="Choose this if category can not be found.">
                    not found
                </button>
                <button *ngIf="evaluation.value.valueCanNotBeFound == 'noValA'" type="button" class="list-group-item"
                        style="background-color: rgba(217, 9, 0, 0.29)"
                        data-toggle="tooltip" data-placement="top"
                        title="Choose this if category can not be found.">
                    not found
                </button>
                <div *ngIf=" warning !=''" class="alert alert-warning">
                    {{warning}}
                </div>
            </div>
            <div class="col-md-8" style="padding-left: 0px;">
                <div *ngIf="evaluation.category.searchTerms">
                    <model-evaluation-search-term [term]="term"
                                                  [searchTerms]="evaluation.category.searchTerms"></model-evaluation-search-term>
                </div>
                <div *ngIf="evaluation.category.webViews">
                    <model-evaluation-view [term]="term" [views]="evaluation.category.webViews"></model-evaluation-view>
                </div>

                <div *ngIf="evaluation.category.help">
                    {{evaluation.category.help.manual}}
                    <ul>
                        <li *ngFor=" let url of evaluation.category.help.url">
                            {{url}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
    <div *ngIf="evaluation.method != ''">
        Method - not implemented yet
    </div>

</div>
<div *ngIf="state == 'Evaluate Data'">
    <div class="row">
        <div class="col-md-3" *ngFor=" let item of resultList.results">

            <span *ngIf="evaluation.value.type != 'hyperlinkList'">
                {{getValue(item)}}
            </span>
            <a *ngIf="isHyperlinkList(item)" (click)="toggleViewHyperlinklist()">
                <span class="glyphicon glyphicon-list"
                      data-toggle="tooltip" data-placement="top" title="Show or hide list of links if available."
                      style="top: 0px;"></span>

            </a>
            <span *ngIf="isViewHyperlinkList">
                <ul>
                    <li *ngFor="let url of getHyperlinkList(item)"> <a href="{{url}}" target="_blank"> {{url}}</a> </li>
                </ul>
            </span>

        </div>
    </div>
</div>